.project-more {
    padding: 70px 0;
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    &__nav-content {
    }
    &__address {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.7;
        color: #888;
        padding-left: 27px;
        position: relative;

        &::after {
            content: "";
            background: url(../../images/mapmarker.svg) 50% 50% no-repeat;
            width: 12px;
            height: 16px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__slider {
        margin-bottom: 55px;
    }
    &__slider-wrapper {
    }
    &__slider-item {
        max-width: 1120px;
        max-height: 630px;
        object-fit: cover;
        overflow: hidden;

    }
    &__slider-img {
        width: 100%;
    }
    &__content {
        display: flex;
        // gap: 20px;
    }

    &__title-wrapper {
        margin-bottom: 55px;
    }
    &__title {
        text-align: center;
        font-weight: 800;
        line-height: calc(35 / 30);
        font-size: 30px;
        color: $color-text;
    }
    &__content-column {
        max-width: 740px;
    }
    &__info {
    }
    &__info-text {
        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }
    &__img {
        max-width: 740px;
        object-fit: cover;

        img {
            height: 100%;
            // width: 100%;
        }

        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }
    &__content-sidebar {
    }
}

.nav-content {
    &__list {
        display: flex;
    }
    &__item {
        color: #888;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
    &__item:not(:last-child) {
        color: #ccc;
        margin-right: 20px;
        position: relative;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
            color: #888;
            // font-weight: 700;
        }

        &::after {
            position: absolute;
            content: ">";
            color: #ccc;
            font-weight: 600;
            width: 8px;
            right: -14px;
        }
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: calc(16 / 14);
        color: inherit;
    }
}

.content-sidebar {
    max-width: 360px;
    width: 100%;
    &__top {
        text-align: center;
    }
    &__title {
        font-weight: 800;
        font-size: 16px;
        margin-bottom: 30px;
    }
    &__img {
        margin: 0 auto;
        width: 100px;
        border-radius: 100%;
        object-fit: cover;
        border: 3px solid #c0cfe9;
        margin-bottom: 25px;

        img {
            height: 100%;
            width: 100%;
        }
    }
    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 15px;
    }
    &__desc {
        margin-bottom: 50px;
    }
    &__desc-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
    }
    &__info-project {
        padding: 40px 30px;
        background-color: #fafafa;
        border-radius: 0 5px;
    }
    &__info-title {
        color: $color-text;
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }
    &__list {
    }
    &__item {
        font-weight: 500;
        font-size: 14px;
        line-height: 2.6;

        span {
            color: #444;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
        }
    }
}
